*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    header{
        background-color:rgba(26, 174, 194, 0.845);
        background-size: cover;
        background-position: center;
        height: 100px; 
        width: 100%;   
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* min-width:fit-content ; */
        padding: 0 5%;
        color: aliceblue;
        
    
    }
    nav ul{
        list-style: none;
        display: flex;
        gap: 5%;
        padding: 0% 5px;
    }
    nav ul li{
    font-size: 20px;
    display: inline-block;
    /* padding: 0px 10px ; */
    }
    nav ul li a{
        font-family: sans-serif;
        color: aliceblue;
        text-decoration: none;
        padding: 3% 10%;
        border-radius: 5px;
    }

    nav ul li a:hover{
        color: blue;
    }
    .pagename{
        color: rgb(23, 49, 198);
        font-size: 100px;
        text-align: center;
        justify-content: center;
        /* background-color: rgba(0, 0, 255, 0.296); */
        border-radius:30px;
        font-family: 'Alkatra', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Roboto Slab', serif;
        font-family: 'Teko', sans-serif;
        font-family: 'Zilla Slab', serif;
    }
    .pagename span{
        color: aliceblue;
        font-family: 'Alkatra', cursive;
        font-family: 'Lobster', cursive;
        font-family: 'Roboto Slab', serif;
        font-family: 'Teko', sans-serif;
        font-family: 'Zilla Slab', serif;
    }
    footer{
        background-color:rgba(26, 174, 194, 0.845);;
        width: 100%;
        height: 80px;  
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25%;
        padding: 0% 5%;
        text-decoration: none;
    
        }
        /*-----------------------------------------------------------------------------------------------------------------------------*/
        /*-----------------------------------------------------------------------------------------------------------------------------*/
        /*-----------------------------------------------------------------------------------------------------------------------------*/
        /*-----------------------------------------------------------------------------------------------------------------------------*/
        body{
            margin: 0;
            padding: 0;
            background-image: url(../Assest/background.png); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
            /* justify-items: center; */
            
            }
        form{
            border: 2px solid black;
            border-radius: 15px;
            width: 125%;
            height: max-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px 10px;
            margin-top: 40%;
            font-size: 30px;
            box-shadow: 5px 5px 10px 1px black;
            background-color: rgba(0, 0, 0, 0.395);
            color: aliceblue;
            font-family: 'Alkatra', cursive;
            font-family: 'Roboto Slab', serif;
            font-family: 'Teko', sans-serif;
            font-family: 'Zilla Slab', serif;
        }
        form input{
            width: 50%;
            height: 50px;
            border-radius: 15px;
            padding: 20px 20px;
        }
        select{
            width: 50%;
            height: 35px;
            border-radius: 10px;
            padding: 2px 12px;
        }
        #submit{
        color: rgb(0, 0, 0);
        background-color: aqua;
        border: 3px solid rgba(0, 85, 255, 0.425);
        font-size: 20px;
        padding: 10px 10px;
        font-stretch:narrower;
        margin-bottom: 20px;
        }
        /* form input[type="text"] {
            text-transform: lowercase;
        } */
        #submit:hover{
            background-color: rgb(0, 140, 255);
        }
        
        #container {
            display: flex;
            flex-direction:column ;
            justify-content: space-around;
            align-items: center;
            /* flex-wrap: wrap; */
            margin: 10px 10px;
            justify-items: auto;
            justify-content: space-between;
             
        }
        
        #container .card{
            background-color: rgba(240, 248, 255, 0.558);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 60%;
            border-radius: 2%;
            margin-top: 5%;
            padding: 1% ;
            margin: 10px 10px;
        }

        main{
            display: flex;
            flex-direction: column;
            padding: 10px 10px;
            margin: 10px 10px;
        }
        p{
            margin-bottom: 20px;
        }
